.button {
    background-color: var(--black-color);
    color: var(--primary-color);
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.25px;
    border: none;
}
